In [1]:
import pandas as pd
import numpy as np

In [2]:
labels=['w','x','y','z']
list=[10,20,30,40]
array=np.array([10,20,30,40])
dict={'w':10,'x':20,'y':30,'z':40}

In [3]:
pd.Series(data=list)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
pd.Series(data=list,index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [5]:
pd.Series(array,labels)

w    10
x    20
y    30
z    40
dtype: int32

In [6]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

### Pandas dataframe and indexing

In [7]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [8]:
sports1['cricket']

1

In [9]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [10]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [2]:
import pandas as pd
import numpy as np

In [4]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.569033  0.217302  0.010204  0.375250  0.639189
B  0.875987  0.226010  0.628562  0.383326  0.662899
C  0.976404  0.266580  0.249431  0.288092  0.959492
D  0.551517  0.492826  0.456324  0.261282  0.480761
E  0.550406  0.436616  0.079081  0.132957  0.335795
F  0.212085  0.415357  0.690991  0.171040  0.336650
G  0.919771  0.321430  0.290228  0.936893  0.614915
H  0.704180  0.383955  0.480852  0.327058  0.725801

In [5]:
df1['Score3']

A    0.010204
B    0.628562
C    0.249431
D    0.456324
E    0.079081
F    0.690991
G    0.290228
H    0.480852
Name: Score3, dtype: float64